@import '../../variants.module';
button {
    @include fontOrbitron;
    @include colorGradientCustom(right);
    padding: 12px 22px;
    cursor: pointer;
    border-radius: 50px;
    border: none;
    color: $color-white;
    font-size: 1.4em !important;
    letter-spacing: 1.9px;
    &:hover {
        @include colorGradientCustom(left);
    }
}
