@import '../../variants.module.scss';
.home {
    display: flex;
    .container {
        margin: auto;
        max-width: $layout-maxWidth;
        width: 100%;
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px 16px;
            .left {
                font-size: 2em;
                font-weight: 800;
                text-transform: uppercase;
            }
        }
    }
}
