@import '../../variants.module.scss';
.nav {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3%;
    background-color: rgba(26, 24, 26, 0.2);
    border-radius: 50px;
    padding: 12px 22px;
    overflow: hidden;
    max-width: 480px;
    z-index: 1000;
    box-shadow: 0 0px 15px 2px rgba(128, 126, 126, 0.1);
    .blur {
        position: absolute;
        filter: blur(100px);
        background-color: rgba(26, 24, 26, 0.2);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    ul {
        display: flex;
        gap: 0 45px;
        li {
            list-style-type: none;
            .link {
                padding: 16px;
                border-radius: 50%;
                display: block;
                transition: 0.2s linear;
                &.activeBg {
                    background: $color-gradient;
                }
                &:hover {
                    background-color: rgba(66, 60, 66, 0.4);
                }
                .icon {
                    position: relative;
                    font-size: 18px;
                    color: #694e74;
                    &.activeIcon {
                        color: #fff;
                    }
                }
            }
        }
    }
}
