$color-white: #ffffff;
$color-black: #000000;
$color-gradient: linear-gradient(92.23deg, #406aff 21.43%, #3bace2 50.63%, #b936ee 100%, #ff56f6 117.04%);
$layout-maxWidth: 1000px;

@mixin colorGradientCustom($pos) {
    background: linear-gradient(to $pos, #ff56f6 27.04%, #406aff 101.43%, #3bace2 100.63%, #b936ee 100%);
}

@mixin fontRoboto {
    font-family: 'Roboto', sans-serif !important;
}

@mixin fontAldrich {
    font-family: 'Aldrich', sans-serif !important;
}

@mixin fontOrbitron {
    font-family: 'Orbitron', sans-serif !important;
}

@mixin fontPoppins {
    font-family: 'Poppins', sans-serif !important;
}

@mixin colorTextGradient {
    background: -webkit-linear-gradient(left, #ff56f6 27.04%, #406aff 101.43%, #3bace2 100.63%, #b936ee 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
