@import 'normalize.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('./assets/site-bg.jpg');
    /* background: #191a28; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center 10%; */
    min-height: 100vh;
    font-size: 62.5%;
    overflow-y: scroll;
}
a {
    text-decoration: none;
}
/*  191a28  9e00b0*/
body::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
body::-webkit-scrollbar-track {
    background: #241348;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #ff56f6 27.04%, #406aff 101.43%, #3bace2 100.63%, #b936ee 100%);
    border-radius: 110px;
}
body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to top, #ff56f6 27.04%, #406aff 101.43%, #3bace2 100.63%, #b936ee 100%);
}
